.and {
    color: #D4AF37;
}

#section0 p {
    font-size: 2rem;
    text-align: center;
    padding: 20px 60px;
}

.main p {
    font-size: 1.8rem;
    color: #000000;
    position: absolute;
    left: 80px;
}

.main img {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: auto;
}