#section0 p {
    font-size: clamp(2rem, 1.5vw, 3rem);
    padding: 40px 350px;
    line-height: 1.7;
}

.cta-anchor {
    display: block;
    padding: 10px 20px;
    margin: 40px auto;
    width: fit-content;
    background-color: #D4AF37;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-size: 28px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-anchor:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.image-container {
    position: relative;
    width: 1300px;
    height: 2050px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.overlay-text {
    position: absolute;
    top: 15%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-family: 'Caprasimo', serif;
    font-size: 5rem;
    color: #000000;
    text-align: left;
    width: 100%;
}

.main p {
    font-family: 'Caprasimo', serif;
    font-size: 3rem;
    text-align: left;
    color: #000000;
    position: absolute;
    left: 22%;
}

#section1 {
    padding: 20px;
    margin: 40px;
}

#section1 p {
    margin: 40px;
    padding: 0 80px;
}

/* Grid container for the service cards */
#section1 .services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

#section1 .services-container .service-card-1,
#section1 .services-container .service-card-2,
#section1 .services-container .service-card-3,
#section1 .services-container .service-card-4 {
    background-color: #FFFFFF;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#section1 h3 {
    font-family: 'Jacques Francois', serif;
    font-size: 2.3rem;
    margin: 10px 0;
}

#section1 img {
    max-width: 25%;
    margin: 20px;
    border-radius: 50%;
}

#section1 .services-p {
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 0;
    margin: 10px;
}

#section2 {
    padding: 40px 20px;
}

#section2 p {
    padding: 10px 150px;
    text-align: left;
}

#section2 img {
    display: block;
    margin: 30px auto;
    max-width: 50%;
    border: 3px solid #D4AF37;
    border-radius: 10px;
}

#section3 {
    padding: 40px 20px;
}

#section3 img {
    display: block;
    margin: 30px auto;
    max-width: 50%;
    border: 3px solid #D4AF37;
    border-radius: 10px;
}

#section3 p {
    padding: 10px 150px;
    text-align: left;
}

#section4 {
    background-image: url(/assets/images/team-background.webp);
    text-align: center;
    padding: 50px 20px;
}

#section4 h2 {
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#section4 img {
    width: 50%;
    border: 3px solid #000000;
    border-radius: 10px;
}

#section5 {
    padding: 50px 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0,0.4);
}

form input, form textarea {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    width: 100%;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

form textarea {
    resize: vertical;
    min-height: 150px;
}

form input:focus, form textarea:focus {
    border-color: #D4AF37;
}

button[type="submit"] {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #D4AF37;
    background-color: #000000;
    border: 1px solid #D4AF37;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #AA8A2A;
    color: #000000;
    border: 1px solid #000000;
}

/* Responsive styles */
@media (max-width: 1800px) {
    #section1 .services-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 80px;
    }
    
    #section1 img {
        margin: 20px;
    }
    
    #section1 .services-p {
        font-size: 1.8rem;
        margin: 20px;
    }
}

@media (max-width: 1570px) {
    #section0 p {
        padding: 40px 250px;
    }
}

@media (max-width: 1500px) {
    #section1 .services-p {
        font-size: 1.6rem;
    }
}

@media (max-width: 1440px) {
    .image-container {
        width: 1100px;
        height: 1695px;
    }

    .overlay-text {
        top: 17%;
        font-size: 4rem;
    }

    #section1 {
        padding: 20px;
        margin: 40px 70px;
    }
}

@media (max-width: 1370px) {
    #section0 p {
        padding: 20px 150px;
    }
}

@media (max-width: 1300px) {
    #section0 p {
        padding: 20px 100px;
    }

    .image-container {
        width: 900px;
        height: 1495px;
    }

    #section1 p {
        margin-top: 10px;
        margin-bottom: 40px;
        padding: 0 10px;
    }

    #section1 .services-container {
        grid-gap: 50px;
    }

    #section1 h3 {
        font-size: 2rem;
    }

    #section1 img {
        max-width: 25%;
    }

    #section1 .services-p {
        font-size: 1.3rem;
    }
}

@media (max-width: 1050px) {
    .main img {
        width: 750px;
        height: 1156px;
    }

    #section0 p {
        padding: 20px 90px;
    }

    .contact-button {
        font-size: 20px;
    }

    #section1 {
        max-width: 900px;
    }

    #section1 .services-container {
        grid-gap: 50px;
    }

    #section1 h3 {
        font-size: 2rem;
    }

    #section1 img {
        max-width: 25%;
    }

    #section1 .services-p {
        font-size: 1.3rem;
    }
}

@media (max-width: 850px) {
    .main img {
        width: 650px;
        height: 1002px;
    }

    #section0 p {
        padding: 20px 60px;
    }

    .contact-button {
        font-size: 18px;
    }

    .main p {
        font-size: 2.5rem;
        left: 13%;
    }

    #section1 {
        padding: 10px;
        margin: 10%;
    }

    #section1 p {
        margin: 10px 10px 30px 10px;
        padding: 0 10px;
    }

    #section1 .services-container {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    #section1 h3 {
        font-size: 1.8rem;
    }

    #section1 img {
        max-width: 20%;
    }

    #section1 .services-p {
        font-size: 1.2rem;
    }

    #section2 p {
        padding: 10px 100px;
    }

    #section2 img {
        border: 1px solid #D4AF37;
    }

    #section3 p {
        padding: 10px 100px;
    }

    #section3 img {
        border: 1px solid #D4AF37;
    }

    form {
        gap: 15px;
        max-width: 500px;
    }
}

@media (max-width: 700px) {
    .contact-button {
        font-size: 16px;
    }

    .main p {
        font-size: 2rem;
        left: 17%;
    }

    .main img {
        width: 525px;
        height: 809px;
    }

    #section1 h3 {
        font-size: 1.6rem;
    }

    #section1 img {
        max-width: 25%;
        margin: 10px;
    }

    #section1 .services-p {
        font-size: 1rem;
    }

    #section2 p {
        padding: 10px 70px;
    }

    #section3 p {
        padding: 10px 70px;
    }

    form {
        gap: 15px;
        max-width: 400px;
    }

    button[type="submit"] {
        padding: 10px 25px;
        font-size: 1rem;
    }
}

@media (max-width: 550px) {
    .contact-button {
        font-size: 14px;
        padding: 5px 10px;
        margin: 10px auto 30px auto;
    }

    #section0 p {
        margin: 10px 0;
    }

    .main img {
        width: 450px;
        height: 694px;
    }

    .main p {
        font-size: 1.5rem;
        left: 17%;
        margin: 10px 0;
    }

    #section1 h3 {
        font-size: 1.3rem;
    }

    #section1 img {
        max-width: 25%;
        margin: 10px;
    }

    #section1 .services-p {
        font-size: 1rem;
    }

    #section2 p {
        padding: 10px 70px;
    }

    #section3 p {
        padding: 10px 70px;
    }

    form {
        gap: 15px;
        max-width: 350px;
    }

    form input, form textarea {
        font-size: 1rem;
        padding: 10px;
    }

    button[type="submit"] {
        padding: 8px 20px;
    }
}