main h2 {
    font-size: clamp(2rem, 4vw, 4rem);
    padding-top: 80px;
}

main p {
    font-size: clamp(1rem, 2vw, 3rem);
    padding: 20px 200px;
}

.cards-section {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.card {
    padding: 10px;
    text-align: left;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.icon img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: clamp(2rem, 3vw, 3rem);
    margin: 10px 0;
}

.card p {
    text-align: left;
}